* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.Task {
  font-size: 40px;
  margin-top: 20px;
  color: white;
}

button {
  padding: 20px 35px;
  font-size: 50px;
  border-radius: 15px;
  margin: 40px;
  border: 0;
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
  background-color: lightgreen;
}

.Pizza > button {
  background-color: rgb(207, 221, 10);
}

h2 {
  font-size: 30px;
}
